/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: Bebas;
    src: url('../font/bebas.ttf');
}

@font-face {
    font-family: HelveticaNeue;
    src: url('../font/HelveticaNeue.ttf');
}

/*Standard styling*/
body {
    font-family: Bebas;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

.container {
    max-width: 940px;
    background: #fff;
    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.italic {
    font-style: italic;
}

/*Start header*/

.logo {
    margin: 23px 0;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    color: #b9b9b9;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-left: 28px;
}

.main-nav .active {
    color: #e8663c;
}

.main-nav .active span {
    color: #f3af9d;
}

/*End header*/

/*Start main_content*/

/*Start banner section*/

.top-page-background {
    background: url(../img/top-bg.png) no-repeat;
    background-size: 100% 60px;
}

.active-banner {
    width: 100%;
    position: relative;
    margin: 0 0 17px 0;
}

.banner-image {
    max-width: 100%;
}

.banner-description {
    max-width: 43.94%;
    position: absolute;
    background: rgba(234, 98, 55, 0.8);
    left: 36px;
    bottom: 32px;
    padding: 15px;
}

.banner-description h2 {
    color: #fff;
    font-size: 1.1rem;
    word-spacing: 2px;
    margin-bottom: 10px;
}

.banner-description p {
    color: #fff;
    font-family: HelveticaNeue, arial;
    font-size: 0.9rem;
    word-spacing: 2px;
}

.arrow-left {
    position: absolute;
    top: 40%;
    left: 25px;
}

.arrow-right {
    position: absolute;
    top: 40%;
    right: 25px;
}

/*--small-main banners--*/

.small-main .arrow-right {
    right: 45px;
}

/*--End small-main banners--*/

.banners {
    
}

.banners img {
    cursor: pointer;
}

/*End banner section*/

/*Start features section*/

.features {
    margin: 20px 0 40px 0;
}

.feature img {
    height: 100%;
    margin: 5px 20px 0 0;
}

.feature {
    max-width: 30%;
}

.feature h2 {
    color: #e8663c;
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 20px;
}

.feature p {
    font-family: HelveticaNeue, arial;
    font-size: 0.8rem;
}

.feature button {
    color: #fff;
    background: #e8663c;
    font-size: 0.8rem;
    padding: 10px 14px;
    border: 0;
    margin-top: 20px;
}

/*End feature section*/

/*Start portfolio section*/

.portfolio h2 {
    color: #e8603c;
    font-size: 1.125rem;
    margin-right: 20px;
}

.portfolio-items {
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-title {
    margin-bottom: 25px;
}

.portfolio-title img {
    width: 85%;
}

.portfolio-items {
    justify-content: space-between;
}

.portfolio-item {
    position: relative;
    margin-bottom: 42px;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item-label {
    max-width: 100%;
    border: 1px solid #dbdbdb;
    border-top: none;
    padding: 10px;
}

.portfolio-item-label h3 {
    color: #b9b9b9;
}

.portfolio-item-label p {
    color: #e8663c;
}

/*End portfolio section*/

/*End main_content*/

/*Start footer*/

footer {
    background: url(../img/footer-bg.png) no-repeat;
    background-size: 100% auto;
    color: #fff;
    /*margin-top: 50px;*/
}

footer .container {
    background: #fff;
}

.footer-items {
    background: #e8663c;
    align-items: flex-start;
}

.footer-item {
    max-width: 30%;
    margin-bottom: 35px;
}

.footer-item:first-child {
    padding-left: 35px;
}

.footer-item:nth-child(2) {
    padding: 0 30px;
}

.footer-item:last-child {
    padding-right: 35px;
}

.footer-item h4 {
    font-size: 1.25rem;
    margin: 40px 0 10px 0;
    word-spacing: 3px;
}

.footer-item p {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
    margin-top: 20px;
}

p.time-ago {
    margin-top: 10px;
    color: #f3b29d;
}

.footer-item p a {
    color: #f3b29d;
    text-decoration: none;
}

.social-images {
    margin-top: 20px;
}

.social-images img {
    margin-right: 5px;
}

/*======Page unique style=====*/

/*====About.html====*/

/*Start title*/

.page-title p {
    color: #fff;
    background: #e8603c;
    font-size: 1.5rem;
    padding: 13px 0 13px 20px;
}

/*End title*/

/*pagewrapper*/

.pagewrapper {
    margin-top: 30px;
}

.pagewrapper .flex-sb {
    align-items: flex-start;
}

aside {
    width: 25%;
    margin-left: 20px;
}

/*End pagewrapper*/

/*=small-main=*/

.small-main {
    width: 75%;
    position: relative;
}

.about-article {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
    margin-bottom: 20px;
}

.about-article span.uppercase {
    float: left;
    line-height: 30px;
    font-size: 2.25rem;
    color: #e8663c;
    font-family: arial;
    font-weight: bold;
    margin-right: 3px;
}

.image-container {
    width: 50%;
    margin-right: 20px;
}

.about-article-italic p {
    color: #656565;
    font-weight: lighter;
    font-style: italic;
    padding-left: 18px;
    border-left: 8px solid #e8663c;
    margin-left: 52px;
}

.about-article-grid p {
    margin-right: 30px;
}

.about-article-grid p:last-child {
    margin-right: 0;
}

.alert {
    font-family: HelveticaNeue, arial;
    font-style: italic;
    font-size: 0.875rem;
    text-align: center;
    padding: 25px 0;
    margin-top: 20px;
}

.alert:last-child {
    margin-bottom: 50px;
}

.alert-green {
    color: #98c601;
    background: #effeb9;
    border: 1px solid #98c601;
}

.alert-red {
    color: #eb5439;
    background: #fbcbc1;
    border: 1px solid #eb5439;
}

.alert-yellow {
    color: #fab418;
    background: #ffe9ad;
    border: 1px solid #fab418;
}

.alert-blue {
    color: #4d8fcb;
    background: #d1e4f3;
    border: 1px solid #4d8fcb;
}

/*=End small-main=*/

/*=aside=*/

.aside-item {
    margin-bottom: 20px;
}

/*aside-title*/

.aside-title {
    margin-bottom: 10px;
}

.aside-title h3 {
    color: #e8603c;
    font-size: 0.875rem;
}

/*End aside-title*/

/*about-portfolio*/

aside p {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
}

/*End about-portfolio*/

/*categories*/

.categories ul {
    list-style: none;
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
}

.categories li {
    margin: 10px 0;
}

.categories a {
    color: #000;
    text-decoration: none;
}

/*End categories*/

/*photo-gallery*/

.photo-row {
    margin-bottom: 5px;
}

/*End photo-gallery*/

/*=End aside=*/

/*====End About.html====*/

/*====blog.html====*/

.blog-action {
    position: absolute;
    left: -13%;
}

/*blog-info-aside*/

.blog-info-aside {
    width: 20%;
    margin-right: 10px;
}

.blog-info-aside h4 {
    color: #e8603c;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

.blog-info-aside p {
    color: #bfbfbf;
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
    margin-bottom: 10px;
}

.blog-info-aside:last-child p {
    margin-bottom: 0;
}

/*End blog-info-aside*/

/*blog-discription*/

.blog-discription {
    width: 80%;
}

.blog-item h3 {
    color: #e8603c;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.blog-discription p {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
    margin-bottom: 20px;
}

.blog-discription p:last-child {
    margin-bottom: 0;
}
/*End blog-discription*/

img.page-fillup-line {
    margin: 50px 0;
}

/*blog-article*/

.blog-article {
    align-items: center;
}

.blog-article-gray {
    background: #f1f1f1;
}

.blog-article p {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
}

.blog-article p.quote {
    height: 75px;
    color: #e8663c;
    font-family: georgia;
    font-size: 4.5rem;
    margin: 0 20px;
}

.blog-article a {
    color: #a6a6a6;
    text-decoration: none;
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
}

.blog-article h3.subtitle {
    margin: 0;
}

.blog-article p.subtitle {
    margin-top: 10px;
}

/*End blog-article*/

/*tabs*/

.tabs {
    margin-bottom: 50px;
}

.tabs ul {
    list-style: none;
}

.tabs li {
    width: 26px;
    background: #e8663c;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    padding: 2px 0;
    margin-right: 4px;
}

.tabs li:hover {
    cursor: pointer;
}

.tabs li.active-tab {
    opacity: 1.0;
}

/*End tabs*/

/*====End blog.html====*/

/*====portfolio.html====*/

.portfolio-navigation ul {
    list-style: none;
    margin: 35px 0;
}

.portfolio-navigation li {
    background: #fff;
    color: #b9b9b9;
    font-size: 0.875rem;
    padding: 10px;
    margin-right: 10px;
}

.portfolio-navigation li.active-nav-item {
    background: #e8663c;
    color: #fff;
}

.portfolio-navigation li:hover {
    background: #e8663c;
    color: #fff;
    cursor: pointer;
}

.portfolio-inspect {
    position: absolute;
    opacity: 0;
}

.portfolio-inspect:hover {
    visibility: visible;
    opacity: 1;
}

/*====End portfolio.html====*/

/*====portfolio-item.html====*/

.portfolio-content img {
    width: 100%;
    margin: 20px 0;
}

.portfolio-content p {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
    margin-bottom: 20px;
}

.portfolio-content p:last-child {
    margin-bottom: 50px;
}

/*====portfolio-item.html====*/

/*====contact.html====*/

/*adress*/

.adress {
    width: 30%;
    margin: 40px 35px 0 0;
}

.adress p {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
}

.adress h4 {
    color: #e8603c;
    font-family: HelveticaNeue, arial;
    font-weight: bolder;
    font-size: 0.75rem;
    margin-top: 15px;
}

article.adress ul {
    list-style: none;
    margin-bottom: 17px;
}

article.adress li {
    font-family: HelveticaNeue, arial;
    font-size: 0.75rem;
}

article.adress li span {
    font-weight: bold;
}

/*contact-form*/

.contact-form {
    width: 70%;
    margin-top: 40px;
}

.contact-form textarea {
    width: 95%;
    font-family: HelveticaNeue, arial;
    resize: none;
    padding: 10px;
    border: 1px solid #e8603c;
    margin-bottom: 10px;
}

.contact-form input {
    font-family: HelveticaNeue, arial;
    padding: 10px;
    border: 1px solid #e8603c;
    margin-bottom: 10px;
}

.submit input{
    color: #fff;
    background: #e8663c;
    font-family: Bebas;
    margin-bottom: 50px;
}

::-webkit-input-placeholder {
   color: #e8603c;
   font-family: Bebas;
}

:-moz-placeholder { /* Firefox 18- */
   color: #e8603c;
   font-family: Bebas;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #e8603c;
   font-family: Bebas;  
}

:-ms-input-placeholder {  
   color: #e8603c;
   font-family: Bebas;  
}

/*====End contact.html====*/

/*===Media query's===*/

@media screen and (max-width: 1139px) {
    .blog-action {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    /*index.html - banner section*/

    .banners img:last-child {
        display: none;
    }

    .banner-description {
        display: none;
    }

    /*index.html - features section*/

    .features .flex-sb {
        flex-direction: column;
    }

    .feature {
        max-width: 100%;
        padding-bottom: 35px;
        border-bottom: 1px #999 solid;
        margin-bottom: 35px;
    }

    .feature:first-child {
        margin-top: 25px;
    }

    .feature:last-child {
        padding-bottom: 0;
        border: 0;
    }

    .feature-title {
        margin-bottom: 20px;
    }

    /*index.html - portfolio section*/
    
    .portfolio-title img {
        display: none;
    }

    /*.portfolio-item:last-child {
        display: none;
    }*/

    /*about.html - aside*/

    .aside-title img{
        display: none;
    }

    .photo-rows {
        display: flex;
    }

    .photo-row {
        flex-direction: column;
    }

    .photo-row img {
        margin: 0 10px 10px 0;
    }

    /*blog.html*/
    .blog-info {
        padding-bottom: 20px;
        border-bottom: solid 1px #d5d5d5;
        margin-bottom: 20px;
    }

    .page-fillup-line {
        display: none;
    }

    article.blog-article-gray {
        margin-bottom: 20px;
    }
    
    article.blog-article-gray p {
        padding: 10px 0;
    }

    .tabs {
        margin-top: 20px;
    }

    /*footer*/

    footer .flex-sb {
        flex-direction: column;
        align-items: center;
    }

    .footer-item:first-child {
        padding-left: 0;
    }

    .footer-item:nth-child(2) {
        padding: 0;
        padding-bottom: 18px;
    }

    .footer-item:last-child {
        padding-right: 0;
    }

    .footer-item {
        min-width: 80%;
        padding-bottom: 18px;
        border-bottom: 1px solid #fff;
        margin: 0 0 18px 0;
    }

    .footer-item3 {
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 780px) {

    /*index.html*/

    .banners img:nth-child(5) {
        display: none;
    }

    /*about.html - small-main*/

    .small-main .about-article {
        flex-direction: column;
        align-items: center;
    }

    .about-article img{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 707px) {
    /*index.html*/

    .portfolio-items {
        justify-content: space-around;
    }

    /*aside*/

    .photo-rows .flex-sb {
        justify-content: space-around;
    }

    /*blog.html - small-main-content*/

    .small-main-content {
        flex-direction: column;
    }

    .adress {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    /*index.html*/

    .banners img:nth-child(4) {
        display: none;
    }

    /*main-nav change*/
    header .container {
        flex-direction: column;
    }

    .main-nav {
        width: 100%;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }

    .main-nav ul {
        background: #eee;
        flex-direction: column;
    }

    .main-nav li {
        text-align: center;
        
        padding: 10px 0;
    }

    .main-nav a {
        margin-left: 0;
    }

    /*about.html*/
    .small-main {
        width: 100%;
    }

    aside {
        display: none;
    }

    /*portfolio.html*/
    /*portfolio-nav*/

    .portfolio-navigation ul {
        flex-direction: column;
    }

    .portfolio-navigation li {
        text-align: center;
    }

    /*End portfolio-nav*/
    /*End portfolio.html*/

}

/*@media screen and (max-width: 500px) {
    
}*/

@media screen and (max-width: 475px) {
    /*index.html*/
    .banner .flex-sb {
        justify-content: space-around;
    }

    .banners img:nth-child(3) {
        display: none;
    }

    .arrow-left {
        display: none;
    }

    .arrow-right {
        display: none;
    }

    /*blog.html*/
    .active-banner iframe {
        height: 250px;
    }
}

@media screen and (max-width: 400px) {
    .small-main .flex {
        align-items: flex-start;
    }

    .page-title p {
        text-align: center;
        padding: 13px 0;
    }

    .about-article-grid {
        flex-direction: column;
    }

    .about-article-grid p {
        margin-bottom: 20px;
    }
}






















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
